* {
    margin:0;
    padding:0;
    box-sizing:border-box;
  }

ul {
    list-style: none; 
    display: flex;
}  

li {
    list-style: none;
}

a {
    text-decoration: none; 
    color: #fff;
} 

.homeBtn {
    text-align: center; 
    justify-content: center; 
    padding-left: 25%; 
    color:#00ce7f; 
}

#nav-bar {
    background-color: #626466;
    overflow: hidden;
} 

.container {
    display: grid; 
    grid-template-columns: 1fr 6fr 1fr;
    align-items: center; 
    height: 55px;
} 

.form-control {
    background-color: rgb(255, 255, 255); 
    border-color: rgb(133, 133, 133);  
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important; 
    height: 38px; 
    width: 70%; 
    border: none; 
    padding-left: 10px;   
    font-size: 20px; 
}   


.search { 
    padding-left: 15%;  
}

.btn { 
    padding-right: 10px; 
} 

.ugh-buttons {
padding-right: 20px; 
}

.icon-btn {
    height: 40px; 
    width: 40px; 
    border-radius: 5px; 
    background-color: #00ce7f;
    color: white; 
    border: none;  
    font-size: x-large; 
}

button:active {
    outline: none !important;
    box-shadow: none !important; 
    background-color: rgb(111, 0, 255);
color: white; 
border: none;
} 

button:focus {
    outline: none !important;
    box-shadow: none !important; 
}

button:hover {
    cursor: pointer;
} 

.searchBtn {
    color: #fff;
    background-color: #00ce7f;
    height: 38px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; 
    width: 40px;   
    border: none;    
    font-size: large; 
  
}       

.buttons {
    color: #fff;
    background-color: #00ce7f;
    height: 38px; 
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; 
    border-top-left-radius: 5px; 
    border-bottom-left-radius: 5px; 
    width: 40px;   
    border: none; 
}
 
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

input {
    outline: none; 
}
 


.hide {
    visibility: hidden; 
}

.dropdown {
    height: 120px; 
    width: 40px; 
    border-radius: 5px; 
    background-color: #00ce7f;
    color: white; 
    border: none;  
    font-size: x-large; 
} 

.card {
    position: fixed; 
    top: 49px; 
    right: 30px; 
    height: 50vh; 
    width: 350px;  
    border: salmon; 
    border-width: 10px;
 
    z-index: 1; 
    border-bottom-left-radius: 5px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 5px;
}

.profileSettings { 
   width: 200px;
   height: 35px;
   border:  #00ce7f; 
   border-style: solid;  
   border-radius: 5px; 
   background-color: white; 
   color: #00ce7f; 
   font-weight: bold;
}

.topProfileSettings { 
    width: 200px;
    height: 35px;
    border:  #00ce7f; 
    border-style: solid;  
    border-radius: 5px; 
    background-color: white;
    color: #00ce7f; 
   font-weight: bold;
 }
.bottomProfileSettings { 
    width: 200px;
    height: 35px;
    border: #00ce7f; 
    border-style: solid;  
    border-radius: 5px; 
    background-color: white;
    color: #00ce7f; 
   font-weight: bold;
 }